@model IEnumerable<FFModels.FFReturn>

@{
    ViewData["Title"] = "GetEnabledFlags";
}

<h1>Enabled Flags</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeatureFlagName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureFlagName)
            </td>
            
        </tr>
}
    </tbody>
</table>
