@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<button id="test" onclick="testFunction()">Test</button>

<script type="text/javascript">
        function testFunction() {
        console.log("IN the function");
        $.ajax({
            url: 'https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?response_type=code&client_id=573070539905-5d2e3i06pc7a9jfp9gm29vc4m93ubni4.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fcorstestnoor.azurewebsites.net%2F.auth%2Flogin%2Fgoogle%2Fcallback&scope=openid%20profile%20email&state=redir%3D%252F%26nonce%3D74e1a1e771f24f0ab8afb78ddfc2eefd_20200731175044&flowName=GeneralOAuthFlow',
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (result) {
                console.log("successful call");
            },
            error: function (result) {
                console.log("An Error Occured");
            }
        });
    };
</script>
